{% extends "_common.njk" %}

{% block content %}


<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<link rel="stylesheet" href="./style.scss">
</head>
<body>
<div class="row" id="contact">
<div class="container mt-5" >

    <div class="row" style="height:550px;">
      <div class="col-md-4 maps" >
         <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10122.798111500915!2d5.5858571!3d50.6326984!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf2c9f9204e1bb92b!2zUMO0bGUgaW1hZ2UgZGUgTGnDqGdl!5e0!3m2!1sfr!2sbe!4v1550236194053"fas fa-globe mt-3"></i>Rue de Mulhouse 36, 4020 Liège<br> frameborder="0" style="border:0" allowfullscreen></iframe>
        {# <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10122.798111500915!2d5.5858571!3d50.6326984!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf2c9f9204e1bb92b!2zUMO0bGUgaW1hZ2UgZGUgTGnDqGdl!5e0!3m2!1sfr!2sbe!4v1550236194053" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe> #}
      </div>
      <div class="col-md-6">
        <h2 class="text-uppercase mt-3 font-weight-bold text-white" id="contact">CONTACT</h2>
        <form action="">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <input type="text" class="form-control mt-2" placeholder="Nom/Société" required>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input type="text" class="form-control mt-2" placeholder="Objet" required>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input type="email" class="form-control mt-2" placeholder="Email" required>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input type="number" class="form-control mt-2" placeholder="Téléphone" required>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Insérez votre texte" rows="3" required></textarea>
              </div>
            </div>
            <div class="col-12">
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                <label class="form-check-label" for="invalidCheck2">
                  Accepter
                </label>
              </div>
            </div>
            </div>
            <div class="col-12">
              <button class="btn btn-light" type="submit">Envoyer</button>
            </div>
          </div>
        </form>
        <div class="text-white">
        <h2 class="text-uppercase mt-4 font-weight-bold">Adresse</h2>

        <i class="fas fa-phone mt-3"></i> <a href="tel:+">(+32) 123456</a><br>
        {# <i class="fas fa-phone mt-3"></i> <a href="tel:+">(+3    2) 123456</a><br> #}
        <i class="fa fa-envelope mt-3"></i> <a href="">info@innovation.io</a><br>
        <i class="fas fa-globe mt-3"></i> Rue de Mulhouse 36, 4020 Liège<br>
        </div>
      </div>
    
    </div>
</div>
</div>
</body>
</html>

{% endblock %}