{# The main page of the application #}

{% extends "_common.njk" %}

{% block content %}
<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
      <h2>Our Team</h2>
    </div>
    <ul class="row">
      <li class="col-12 col-md-4 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 400px;">
          <figure><img src="img/julien.png" class="img-responsive" alt=""></figure>
          <h3><a href="http://www.webcoderskull.com/">Julien Caramazza</a></h3>
          <p>Hofstra University School of Law Hempstead, New York</p>
          <ul class="follow-us clearfix">
            <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter-square" aria-hidden="true"></i></a></li>
            <li><a href="https://www.linkedin.com/in/julien-caramazza-ab1895139/"><i class="fab fa-linkedin" aria-hidden="false"></i></a></li>
            <li><a href="https://github.com/Jucara"><i class="fab fa-github"></i></li>
          </ul>
        </div>
      </li>
      <li class="col-12 col-md-4 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <figure><img src="img/louis.png" class="img-responsive" alt=""></figure>
          <h3><a href="#">Louis Cantinieaux</a></h3>
          <p>Hofstra University School of Law Hempstead, New York</p>
          <ul class="follow-us clearfix">
            <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter-square" aria-hidden="true"></i></a></li>
            <li><a href="https://www.linkedin.com/in/louis-cantinieaux-2274ba171/"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="https://github.com/LouisCantinieaux"><i class="fab fa-github"></i></li>
          </ul>
        </div>
      </li>
      <li class="col-12 col-md-4 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <figure><img src="img/thibault.jpg" class="img-responsive" alt=""></figure>
          <h3><a href="#">Thibaut Janssens</a></h3>
          <p>Hofstra University School of Law Hempstead, New York</p>
          <ul class="follow-us clearfix">
            <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter-square" aria-hidden="true"></i></a></li>
            <li><a href="https://www.linkedin.com/in/thibaut-janssens-856899172/"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="https://github.com/ThibautJanssens"><i class="fab fa-github"></i></li>
          </ul>
        </div>
      </li>
      <li class="col-12 col-md-4 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <figure><img src="img/alex.jpeg" class="img-responsive" alt=""></figure>
          <h3><a href="#">Alexandre Bove</a></h3>
          <p>Hofstra University School of Law Hempstead, New York</p>
          <ul class="follow-us clearfix">
            <li><a href="#"><i class="fab fa-facebook-square" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
            <li><a href="https://www.linkedin.com/in/alexandre-bove-60a1b8139/"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="https://github.com/bovealexandre"><i class="fab fa-github"></i></li>
          </ul>
        </div>
      </li>
      <li class="col-12 col-md-4 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <figure><img src="img/nico.jpg" class="img-responsive" alt=""></figure>
          <h3><a href="https://www.becode.org/index_fr.html">Nicolas Vanhoren</a></h3>
          <p>Hofstra University School of Law Hempstead, New York</p>
          <ul class="follow-us clearfix">
            <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter-square" aria-hidden="true"></i></a></li>
            <li><a href="https://www.linkedin.com/in/nicolasvanhoren/"><i class="fab fa-linkedin" aria-hidden="false"></i></a></li>
            <li><a href="https://github.com/nicolas-van"><i class="fab fa-github"></i></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
{% endblock %}
